.card__image {
  border-radius: 0.5rem 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  .card__image {
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

.card__contact a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: rgb(37 99 235);
}
.card__contact a:hover,
.card__contact a:visited {
  color: rgb(30 64 175);
}

.card__contact a:focus {
  outline-color: rgb(30 64 175);
}

.card-contact a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
