@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-start-rgb: 217, 119, 6;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  color: rgb(var(--foreground-rgb));
  color: #334155;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    /* background: #0A212E;
  margin: 0px;
  overflow: hidden;
  animation: color-loop 18s infinite; */
}

.poppins-400 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: rgb(15, 15, 15) !important;
}
.poppins-700 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  color: rgb(15, 15, 15) !important;
}
.cabin-400 {
  font-family: "Cabin", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: rgb(15, 15, 15) !important;
}
.cabin {
  font-family: "Cabin", sans-serif !important;
}

*::selection {
  background-color: #334155;
  color: white;
}

.bg-stars {
  background-image: url("../../public/img/stars.svg");
  background-size: cover !important;
}

.border-radius-bottom-lg {
  @media screen and (min-width: 768px) {
    border-radius: 0 0 24px 24px;
  }
  
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(100%);
  }
  100% {
    display: none;
  }
}
.img-rotate {
  animation: rotation 50s linear infinite;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
}

.contact-container {
  width: 450px;
  aspect-ratio: 1/1;
  @media screen and (min-width: 768px) {

    height: 450px;
  }
}

.main-bg {
  background-image: linear-gradient(to bottom, #D97808, transparent);
}

.navbar-slide-in {
  
  animation: slideIn 0.25s ease-out forwards;
}
.navbar-slide-out {
  
  animation: slideOut 0.5s ease-out forwards;
  @media screen and (min-width: 768px) {
    animation: none;
  }
}
/* .backdrop-header {
  z-index: -1;
} */
/* .waves {
  position: relative;
  top: 50%;
  background: rgba(255,255,255,0.3);
  left: 50%;
  width: 25px;
  height: 25px;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}
.waves:before {
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  animation: wave-animate 3s infinite ease-out;
}
.waves:after {
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  animation: wave-animate 3s 1.5s infinite ease-out;
}
@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
 }
  100% {
    transform: scale(3);
    opacity: 0;
    transform-origin: center;
 }
}
@keyframes color-loop {
  0% {
    background: rgb(245 158 11);
 }
  25% {
    background: rgb(217 119 6);
 }
  50% {
    background: rgb(180 83 9);
 }
  75% {
    background: rgb(217 119 6);
 }
  100% {
    background: rgb(245 158 11);
 }
  0% {
    background: #2CAB5B;
 }
  25% {
    background: #FABC03;
 }
  50% {
    background: #ED4B40;
 }
  75% {
    background: #4286F3;
 }
  100% {
    background: #2CAB5B;
 }
} */
